body {
  font-family: "Outfit", sans-serif;
    font-size: 18px;
    background-color:hsl(30, 54%, 90%);
    color:hsl(30, 10%, 34%);
    
}
.contenedor{
  border-radius: 5px;
  background-color:hsl(0, 0%, 100%) ;
}
img{
  border-radius:5px;
  margin: 10px;
  height: 375px;
  min-width: 375px;
  max-width: 375px;
  }
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.Titulo-1{
  margin: 25px;
  font-family: "Young Serif", serif;
  color: hsl(24, 5%, 18%);
}
.parrafo-1{
  margin:15px;
}
.titulo-preparacion{
  color:hsl(332, 51%, 32%) ;
  margin: 30px;
  margin-top:10px;
  margin-bottom: 10px;
}
.preparacion{
  border-radius: 10px;
  height:150px;
  width:370px;
  margin:10px;
  background-color: hsl(330, 100%, 98%);
}
.lista{
  space-between: 5px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}
.lista li::marker{
  color:hsl(332, 51%, 32%);
}
.lista-2 li::marker{
  color:hsl(14, 45%, 36%);
}

.Titulo-2{
  margin:15px;
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
}
ol {
  padding-right: 25px;
  counter-reset: list-counter;
  list-style-type: none;
} ol li {
counter-increment: list-counter;
position: relative;
 padding-left: 2em;
} 
ol li::before {
 content: counter(list-counter) ".";
 font-weight: bold;
 color:hsl(14, 45%, 36%);
 position: absolute;
 left: 0;
}

p{
  margin:15px;
}
table{
  margin:25px;
  width: 75%;
  height: 100px;
}
tr{
  width:75%;
  height: 50px;
}

td{
  width:75%;
  height: 100px
} 

td:nth-child(2), th:nth-child(2) {
color: hsl(14, 45%, 36%);
font-weight: bold;
}